*{
    box-sizing: border-box;
}
body{
    background: black;
    margin: 0;
     font-family: Verdana, Geneva, Tahoma, sans-serif;    
}  
/*------------------Estilos del header---------------------*/
.header{
    height: 60px;
}
.header.contenedor{
    display: flex;
    justify-content: space-between;
   
}
.logo,.icon-menu{
    margin:5px;
    color:gray;
}
.icon-menu{
    display: block;
    width: 40px;
    height: 40px;
    font-size:30px;
    background:black;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}
/*--------------------Estilos del menu----------*/
.nav{
    position: absolute;
    top: 100px;
    left: -100%;
   width: 100%;
   transition: all 0.4s;
   
}
.menu{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu__link{
    display: block;
    padding: 15px;
    background:black;
   text-decoration: none;
   color:white;
}
.menu__link:hover ,.select{
    background:red;
    color:white;
}
.mostrar{
    left: 0;
}
/*--------------------Estilo del formulario----------------------*/
h2{
    margin-top: 70px;
    color: red;
    text-align: center;
    font-size:45px;
}
.form-register{
    width: 98%;
    max-width: 500px;
    margin: auto;
    background: white;
    border-radius: 7px ;
    margin-bottom: 60px;
}
.form__titulo{
    background: lightslategray;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight:100;
    font-size: 30px;
    border-top-left-radius:7px  ;
    border-top-right-radius: 7px ;
    border-bottom: 5px solid red;
}
.contenedor-inputs{
    padding:10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
input{
    margin-bottom: 20px;
    padding: 10px;
    font-size: 11px;
    border-radius: 3px;
    border:1px solid gray;
}
.input-48{
    width: 48%;
}
.input-100{
   width: 100%; 
}
.btn-enviar{
    background: red;
    color:white;
    margin:auto;
    padding:10px 40px;
    cursor: pointer;
}
.btn-enviar:active{
transform: scale(1.05);
}
.form__link{
    width: 100%;
    margin:7px;
    text-align: center;
    font-size:12px;
}
/*---------------------Estilos del footer----------------------*/
.footer{
    margin-top: 1000px;
    background:grey;
    color: honeydew;
    padding:10px;
    text-align: center;
}
.footer .social [class^="icon-"]{
    display: inline-block;
    color: grey;
    text-decoration: none;
    font-size: 30px;
    padding:10px;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
}
/*---------------Estilos responsive-----------------*/
@media(min-width:599px){
    .logo{
        font-size: 40px;
    }
    h2{
        font-size:25px;
    }
    .form__titulo{
        font-size:20px;
    }
    
    .footer .social [class^="icon-"]{
        margin:0 10px;
    }
}
@media(min-width:600px){
    h2{
        font-size:25px;
    }
    .form__titulo{
        font-size:20px;
    }
}
@media(min-width:1024px){
    .contenedor{
        width: 1000px;
    }
    .nav{
       position: static;
       width: auto;
    }
    .menu{
        display: flex;
    }
    .icon-menu{
        display:none;
    }
    .menu__link{
        background: none;
        font-size: 20px;
    }
    .select{
        color:white;
        background:red;
    }
    h2{
        font-size:25px;
    }
    .form__titulo{
        font-size:20px;
    }
    
}
